/* import color css  */
@import url("color.css");

/* Noticia , Roboto Font  */
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Basic css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Noticia Text',
        serif; */

    font-family: 'Roboto',
        sans-serif;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* Basic css end  */


/* Header css  */

.nav-item.header-nav a {
    color: var(--app-text-secondary);
    font-size: 14px;
    margin-right: 14px;
    text-transform: capitalize;
}

.border-bottom-1 {
    border-bottom: 1px solid var(--app-text-f1);
    padding: 15px;
}

/* Header css end  */

/* Hero area  */

.hero-area-wrap {
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.hero-content {
    text-align: center;
    /* background: gray; */
    padding: 60px;
}

.hero-content h4 {
    font-family: 'Noticia Text', serif;
    color: var(--app-primary);
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
}

.hero-content h1 {
    font-family: 'Noticia Text', serif;
    color: var(--app-text-secondary);
    font-weight: 700;
    font-size: 60px;
}

.hero-content p {
    color: var(--app-text-ash);
    font-size: 18px;
    padding: 20px 50px;
}

.hero-btn {
    background: var(--app-primary);
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    color: var(--app-text-white) !important;
    font-weight: 700;
    font-size: 16px;
}

/* Hero area End */