/* Noticia , Roboto Font  */
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Basic css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Noticia Text',
        serif; */

    font-family: 'Roboto',
        sans-serif;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* Basic css end  */